# Penggunaan MySQL dan pandas
#### Pendukung pembelajaran python dalam mengelolah data dari MySQL

Dalam pemograman, tentu kita harus memiliki tempat penyimpanan data. Data dalam AI ini digunakan sebagai dasar pembelajaran, proses pembelajaran, hingga menyimpan hasil dari pembelajaran.

Tempat untuk menyimpan data-data tersebut dapat dikatakan sebagai database. Database pada pemograman dapat berbagai macam, dari yang paling sederhana seperti excel, microsoft SQL, MySQL, dan lain-lain.

Pada materi ini kita akan mempelajari mengenai cara penggunaan database dari MySQL dengan bahasa pemograman python.Hal penting yang perlu disiapkan sebelum pembelajaran berlangsung adalah MySQL yang dapat di download dan tersedia secara gratis.

Mari kita mulai pembelajarannya!!

# 1. Cek apakah komputer sudah terkoneksi dengan database

In [1]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
    )

if db.is_connected():
    print("Berhasil terhubung ke MySQL Server")

Berhasil terhubung ke MySQL Server

# 2. Buat database dan tabel dengan python

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user = "root",
    passwd = ""
    )

cursor = db.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS db_modulkoneksiAI;")

print("database berhasil dibuat")

In [2]:
db = mysql.connector.connect(
    host="localhost",
    user = "root",
    passwd = "",
    database = "db_modulkoneksiAI"
    )

cursor = db.cursor()
sql = """ CREATE TABLE tbkendaraan (
    Kode_id INT AUTO_INCREMENT PRIMARY KEY,
    Mesin VARCHAR(255),
    Bangku INT,
    Penggerak VARCHAR(255),
    Label VARCHAR(255)
    )"""


cursor.execute(sql)

print("tabel berhasil dibuat")

tabel berhasil dibuat

# 3. Masukkan data ke database MySQL

#### 1) input data seccara manual

In [8]:
db = mysql.connector.connect(
    host="localhost",
    user = "root",
    passwd = "",
    database = "db_modulkoneksiAI"
    )

cursor = db.cursor()
sql = "INSERT INTO tbkendaraan (Mesin, Bangku, Penggerak, Label)  VALUES (%s, %s, %s, %s)"
values = [
    ("bensin", 4, "depan", "sedan"),
    ("bensin", 4, "depan", "sedan"),
    ("bensin", 8, "belakang", "minibus"),
]

for val in values:
    cursor.execute(sql, val)
    db.commit()

print("{} data ditambahkan".format(len(values)))

3 data ditambahkan

#### 2) input melalui file excel dalam format file csv

In [9]:
import pandas as pd
try:
    file = 'datakendaraan.csv'
    df = pd.read_csv(file)
    print("Berhasil membaca file CSV")
except FileNotFoundError:
    print("Gagal membaca: File tidak ditemukan")
    df = None
except Exception as e:
    print(f"Gagal membaca: {e}")
    df = None

# Memasukkan data dari DataFrame ke tabel MySQL jika pembacaan file berhasil
if df is not None:
    # Memastikan kolom sesuai dengan yang ada di database
    if {'mesin', 'bangku', 'penggerak', 'label'}.issubset(df.columns.str.lower()):
        for i, row in df.iterrows():
            sql_insert_csv = "INSERT INTO tbkendaraan (Mesin, Bangku, Penggerak, Label) VALUES (%s, %s, %s, %s)"
            cursor.execute(sql_insert_csv, (row['mesin'], row['bangku'], row['penggerak'], row['label']))
        db.commit()
        print("Data dari file CSV berhasil diimport ke tabel tbkendaraan")
    else:
        print("Kolom dalam file CSV tidak sesuai dengan yang diharapkan")
else:
    print("Tidak ada data yang diimport karena pembacaan file gagal atau kolom tidak sesuai")

Berhasil membaca file CSV
Data dari file CSV berhasil diimport ke tabel tbkendaraan

# 4. Pengambilan data dari MySQL menggunakan library pandas

In [15]:
from sqlalchemy import create_engine
import pandas as pd

try:
    # Query untuk mengambil semua data dari tabel tbkendaraan
    sql_query = "SELECT * FROM tbkendaraan"
    cursor.execute(sql_query)
    result = cursor.fetchall()
    
    # Mengonversi hasil query menjadi DataFrame
    df = pd.DataFrame(result, columns=['Kode_id', 'Mesin', 'Bangku', 'Penggerak', 'Label'])
    print("Pengambilan data berhasil")
    print("Data dari database adalah:")
    display(df)
except Exception as e:
    print(f"Pengambilan data gagal: {e}")

Pengambilan data berhasil
Data dari database adalah:

    Kode_id   Mesin  Bangku Penggerak    Label
0         1  bensin       4     depan    sedan
1         2  bensin       4     depan    sedan
2         3  bensin       8  belakang  minibus
3         4  bensin       4     depan    sedan
4         5  bensin       2     depan    sedan
..      ...     ...     ...       ...      ...
81       82  diesel       8  belakang  minibus
82       83  diesel       4  belakang  minibus
83       84  bensin       4     depan    sedan
84       85  diesel       5  belakang  minibus
85       86  bensin       4     depan    sedan

[86 rows x 5 columns]